---
layout: QA_page
permalink: "/network-n-servers/turing/"
parent: "Network and Servers"
title: "Turing"
index: 5
author : Nuwan
---

<!--EXPAND ALL BUTTON ON TOP RIGHT CORNER
Later add to template-->
<p style="text-align:right">
  <button type="button" class="btn btn-dark btn-expand-all">EXPAND ALL</button>
</p>

<p>
  This is a GPU server of the Department of Computer Engineering, University of Peradeniya.
</p>

<p>
  You can use this server using the LDAP login for ce.pdn.ac.lk undergraduates (which is used for CO top floor lab,
  Aiken and Tesla) without sudo access.
</p>

<div class="alert alert-warning mb-4" role="alert">
    <strong>Note:</strong> For general questions about connecting, access, software installation, and troubleshooting, please see the <a href="/network-n-servers/general-questions/" class="alert-link">General Questions</a> page.
</div>

<div>
  <u>Specifications</u>
  <ul>
    <li>Intel Core i9-13900K CPU</li>
    <li>NVIDIA GeForce RTX 3090 Ti GPU</li>
    <li>32 GB (2x16 GB) DDR5-6000 Memory</li>
    <li>4 TB (2x2 TB) M.2 SSD</li>
  </ul>
</div>


<hr>


<!-- 4 -->
{% include qa-template.html
id="4"
question="What are the GPUs in this server?"
answer="NVIDIA GeForce RTX 3090 Ti"
%}

<!-- 5 -->
{% include qa-template.html
id="5"
question="What is the operating system of this server?"
answer="Ubuntu 22.04 "
%}

<!-- 6 -->
{% include qa-template.html
id="6"
question="What software is installed in this server?"
answer="
- Ubuntu 22.04
- NVIDIA-Driver Version: 530.41.03
- CUDA Version: 12.1 (You can update this using conda)
" %}


<!-- 7 -->
{% include qa-template.html
id="7"
question="What datasets are hosted in Turing?"
answer="
We store frequently used datasets inside the turing.ce.pdn.ac.lk local storage for easy access. You can access
these by the following commands

`ls /storage/datasets/`

These datasets are in the read only mode. You can use these datsets as the input for your tasks but you have to
output the results to your home directory. The following datasets are stored at the moment.

- THIS LIST WILL BE POPULATED SOON

If you have suggestions for what datasets should be made available on this server, please send a request via
email available in [https://www.cs.umd.edu/~gihan/contact/](https://www.cs.umd.edu/~gihan/contact/) address." %}
<p>If you need to learn more, go to: <a
    href='https://github.com/cepdnaclk/singularity-deployment'>https://github.com/cepdnaclk/singularity-deployment</a>
</p>"
%}